.Detail {
  /* margin-left: 5rem;
  margin-right: 5rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  /* height: 16rem; */
}

.ParentDetail {
  padding-top: 2rem;
  background-color: #f0f0f0;
}

.SocialMediaList {
  margin-bottom: 0.4rem;
}
