.ParentDetail {
  padding-top: 2rem;
  background-color: #f0f0f0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.SocialMediaList {
  margin-bottom: 0.4rem;
}

.map {
  margin-top: 3rem;
}

@media (min-width: 500px) {
  .Detail {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #ColumnDetail1 {
    padding-right: 5rem;
    padding-left: 3rem;
  }
  #ColumnDetail2 {
    padding-left: 3rem;
  }
}

@media (max-width: 500px) {
  #MapsbyGoogle {
    height: 250px;
  }
}

@media (min-width: 2000px) {
  #MapsbyGoogle {
    height: 800px;
  }
  .Detail {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  #ColumnDetail1 {
    padding-right: 15rem;
    padding-left: 3rem;
  }
}
