.h3 {
  text-align: center;
}
#jobPositionTitle {
  color: #fff;
  line-height: 70px;
  margin-top: 5rem;
  text-align: center;
}
@media (max-width: 1300px) {
  #jobPositionTitle {
    font-size: 30px;
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  #jobPositionTitle {
    font-size: 24px;
    line-height: 50px;
  }
}
