.Life {
  /* margin-top: 1rem; */
  /* padding: 2.5rem; */
  padding: 2rem;
  /* padding-left: rem; */
  margin-left: 2rem;
}

.LifeDetail {
  align-items: center;
  text-align: center;
}

Col {
  margin: 5px;
}

.ant-col {
  margin-bottom: 20px;
}

/* .Why {
  font-size: 128px;
} */

.Quote {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  /* font-size: 18rem; */
}

.DetailCard {
  background-color: #d4d4d4;
  border-radius: 18px;
}
