.Life {
  padding: 20px;
  /* margin-left: 20px; */
}

.LifeDetail {
  text-align: center;
}

.cardColumn {
  margin-bottom: 20px;
}

.Quote {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

#DetailCard {
  background-color: #d4d4d4;
  border-radius: 18px;
}

@media (min-width: 379px) {
  #LifeAtTitle {
    padding-left: 20px;
  }

  #WhyTitle {
    padding-left: 20px;
  }
}

@media (max-width: 758px) {
  #QuoteText {
    font-size: 22px;
  }
  .Quote {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 2080px) {
  .Life {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
