.jobContent {
  padding-top: 1.5rem;
  /* padding-left: 5rem;
  padding-right: 10rem; */
  min-height: 100vh;
}

#jobDetailTitle {
  color: #fff;
  line-height: 70px;
  margin-top: 7rem;
  text-align: center;
}

#ApplyJobButton {
  width: 180px;
}
@media (max-width: 1300px) {
  #jobDetailTitle {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 1000px) {
  #jobDetailTitle {
    font-size: 24px;
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .DetailOfJob {
    font-size: 14px;
    margin-right: 20px;
  }
  #HeaderOfJob1 {
    font-size: 18px;
  }
  #HeaderOfJob2 {
    font-size: 18px;
  }
  #HeaderOfJob3 {
    font-size: 18px;
  }
  #HeaderOfJob4 {
    font-size: 18px;
  }
  #ApplyJobButton {
    font-size: 14px;
    width: 120px;
  }
}
