@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

.App {
  font-family: "Prompt", sans-serif;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00d3a8;
  border-color: #00d3a8;
}

.ant-checkbox {
  background: #ffffff;
  border-color: #cdcdcd;
  border-radius: 3px;
}

.ant-pagination-item {
  border-radius: 20px;
  border-color: #00d3a8;
}

.ant-pagination-item-active {
  border-radius: 20px;
  background-color: #00d3a8;
  border-color: #00d3a8;
  color: #ffffff;
}

.ant-btn-primary {
  border-radius: 20px;
  min-width: 120px;
  background-color: #00ccbc;
  border-color: #00ccbc;
  font-weight: bold;
}
