@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@600&display=swap");
@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

.App {
  /* font-family: "Athiti", sans-serif;
  font-size: 18px; */
  font-family: "Prompt", sans-serif;
}

.ant-form-item-label > label {
  /* font-size: 18px; */
  font-weight: bold;
}

/* .content {
  background-color: #f0f0f0;
} */
