@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

.App {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
}

.ant-form-item-label > label {
  font-weight: bold;
}

/* .ant-pagination-prev {
  border-radius: 20px;
}
.ant-pagination-item {
  border-radius: 20px;
}
.ant-pagination-item-active {
  border-radius: 20px;
} */
.ant-btn-primary {
  min-width: 120px;
  font-weight: bold;
}
